/* use google font Roboto */

/* Color palette :
      /* Color palette :
#0F0E0E : black
#541212 : red
#72A603 : green
#EEEEEE : white

   */

/* Set color*/

body {
  background-color: #974e3b;
  color: #eeeeee;
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  background-color: #974e3b;
}

/* Define container for website */

.container {
  width: 400px;
  background-color: #0f0e0e;
  margin: 0 auto;
}

/* Define horizontal menu */

.menu {
  display: flex;
  justify-content: center;
}

/* Define logo */

.logo {
  width: 100px;
  height: 100px;
}

/*text in menu*/

.menu a {
  padding: 10px;
  font-size: 40px;
  font-family: "jurassik";
  font-weight: 300;
  letter-spacing: 2.5%;
  height: 100px;
  display: flex;
  align-items: center;
  color: #0f0e0e;
  /* reduce space between elements */
}

ps {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  /*text-align: center;*/
  text-align: center;
  margin: 0 auto;
}

hs1 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}

.paragraph {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "epilogue";
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
  /*color: #E3D295;*/
  max-width: 400ch;
}

.divider {
  width: 400px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2aWV3Qm94PSI3LjU0IDEwOC4yMzcgNDkxLjEgNTIuOTA1IiB3aWR0aD0iNDkxLjEiIGhlaWdodD0iNTIuOTA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik0gNy41NCAxMzUuNjA1IEwgNy41NCAxMzcuOTU2IEwgMjQ0LjkzOCAxMzcuOTU2IEMgMjQ5LjQ0IDEzNy45NTYgMjUzLjA5IDE0MS4yNzkgMjUzLjA5IDE0Ni41NzQgQyAyNTMuMDkgMTQxLjI1OSAyNTYuNzI0IDEzNy45NTYgMjYxLjI0MiAxMzcuOTU2IEwgNDk4LjY0IDEzNy45NTYgTCA0OTguNjQgMTM1LjYwNSBMIDcuNTQgMTM1LjYwNSBaIiBjbGFzcz0ic2hhcGUtZmlsbCIgZmlsbC1vcGFjaXR5PSIxIiBzdHlsZT0iIi8+CiAgPGcgdHJhbnNmb3JtPSJtYXRyaXgoMC4wMDQxMzQsIDAsIDAsIC0wLjAwNDEzNCwgMjMxLjAwNjQ1OCwgMTYxLjE0NDE4MykiIGZpbGw9IiMwMDAwMDAiIHN0cm9rZT0ibm9uZSIgc3R5bGU9IiI+CiAgICA8Zz4KICAgICAgPHBhdGggZD0iTSA2ODIwIDEyNzkzIEMgNjQ1MCAxMjc1NiA2Mjc5IDEyNjIwIDYwMTEgMTIxNDggQyA1OTIyIDExOTkwIDU4MTUgMTE3NjcgNTc2NSAxMTYzNSBDIDU3MzcgMTE1NjEgNTcyNiAxMTUxMCA1NzE5IDExNDM1IEMgNTcwMCAxMTIzNiA1NjM2IDEwOTc3IDU1MTkgMTA2MjUgQyA1Mzg0IDEwMjIwIDUyMjkgOTg3MiA1MDQ3IDk1NjMgQyA0NzQzIDkwNDggNDY4MCA4OTEyIDQzOTAgODE2MCBDIDQxNjEgNzU2NSA0MTI5IDc0ODkgNDA3NyA3NDIxIEMgMzk4NiA3MzAwIDM0MDggNjczOCAzMTgzIDY1NTAgQyAzMDk5IDY0ODAgMzA4MSA2NDcwIDI5ODMgNjQzNyBDIDI3MDYgNjM0MyAyNDYwIDYyOTAgMjMwNSA2MjkwIEMgMjEyMiA2MjkwIDE4ODIgNjM0OCAxNzA1IDY0MzYgQyAxNDgzIDY1NDUgMTE3MCA2ODIwIDEwODcgNjk3OCBDIDEwMzAgNzA4NiAxMDE2IDcxNTMgMTAxNiA3MzE1IEMgMTAxNiA3NDc0IDEwMzIgNzU4NyAxMDk1IDc5MDUgQyAxMTQ2IDgxNTkgMTE2MCA4MjgwIDExNjAgODQ2NSBDIDExNjAgODY3OSAxMTM1IDg4NzggMTA5MCA5MDIyIEMgMTA2MyA5MTExIDk3MCA5MjkxIDgyNSA5NTM1IEMgNjE4IDk4ODUgNDk3IDEwMTY0IDQ1OSAxMDM4MCBDIDQ0MCAxMDQ4NiA0NDMgMTA2ODYgNDY0IDEwNzkwIEMgNTA4IDEwOTk4IDY2NSAxMTMyNCA3ODYgMTE0NTggQyA4MjIgMTE0OTkgODM0IDExNTIwIDgzNyAxMTU1NCBDIDg0MyAxMTYwNiA4MzEgMTE2MTYgNzkyIDExNTk2IEMgNzQ2IDExNTcyIDYxOSAxMTQzMCA1NDggMTEzMjMgQyAzMTcgMTA5NzMgMjE2IDEwNjMwIDI0OSAxMDMwNCBDIDI2NyAxMDEyNyAzMDEgOTk4NiA0MDUgOTY3MCBDIDU2NSA5MTg2IDU4NCA5MTAwIDU4NCA4ODc1IEMgNTgzIDg2NTIgNTU2IDg1NDAgNDA4IDgxNzAgQyAzNSA3MjM2IC0zMSA2OTg4IDE0IDY3MDkgQyAxMDEgNjE4MSAzMzggNTY4NiA2OTQgNTI4OCBDIDg3NSA1MDg1IDEwNDUgNDkzNCAxMzMwIDQ3MjAgQyAxNTczIDQ1MzcgMTcwMiA0NDM1IDE5MjUgNDI1MCBDIDIyMjkgMzk5NiAyMzczIDM4OTkgMjYzMSAzNzcyIEMgMjc3NyAzNzAwIDI4NTAgMzY0MyAyODUwIDM2MDAgQyAyODUwIDM1NjIgMjc5NiAzNDk2IDI2NzEgMzM4MCBDIDI1NjQgMzI4MCAyNDkwIDMxOTQgMjQ0NyAzMTIwIEMgMjQzMyAzMDk1IDIzOTIgMzAwMyAyMzU3IDI5MTUgQyAyMjkxIDI3NTIgMjIzOSAyNjM2IDIxMTEgMjM2MiBDIDE5NTMgMjAyNCAxOTQ3IDE5OTMgMTkzMCAxMzIwIEMgMTkxNyA4MzAgMTkwNyA3NzAgMTgxNSA2NTUgQyAxNzI2IDU0MyAxNzA2IDQ3MyAxNzA2IDI4MCBDIDE3MDYgMjAwIDE3MDkgMTIyIDE3MTMgMTA2IEMgMTcyMSA3OCAxNzIxIDc4IDE3NDIgOTYgQyAxNzYwIDExMyAxNzc3IDExNSAxODg4IDExMiBDIDIwMjcgMTA5IDIwNTIgMTE1IDIxMTUgMTY1IEMgMjIzMyAyNTkgMjMwNiAyNTMgMjQzMiAxNDEgQyAyNTEyIDY5IDI1MzggNjAgMjY3NCA2MCBMIDI3ODkgNjAgTCAyODEwIDMwIEMgMjg1MiAtMjkgMjg5NSAzIDI5MDYgMTAyIEMgMjkxNyAyMDAgMjk0OSAyMDcgMzExOSAxNDggQyAzMzAxIDg2IDM0MjcgMTE1IDM0NjkgMjMwIEMgMzQ3OCAyNTQgMzQ5MCAyNzUgMzQ5NiAyNzcgQyAzNTAxIDI3OSAzNTM0IDI1NiAzNTY3IDIyNSBDIDM2NDcgMTUzIDM2NjAgMTUzIDM2NjAgMjI4IEMgMzY2MCAyNzAgMzY1MyAzMDAgMzYzNCAzMzggQyAzNTgyIDQ0MiAzNDA1IDU3MCAzMjY0IDYwNCBDIDMyMzEgNjEyIDMxNjkgNjIyIDMxMjUgNjI1IEMgMzA4MSA2MjkgMzAyOCA2MzkgMzAwOCA2NDcgQyAyOTQ5IDY3MCAyODU4IDc3NiAyODA2IDg4MSBDIDI3NjcgOTU4IDI3NjAgOTgxIDI3NjAgMTAzMSBDIDI3NjAgMTA2MyAyNzY0IDEwOTAgMjc2OCAxMDkwIEMgMjc3MyAxMDkwIDI3OTEgMTA3MiAyODA5IDEwNTAgQyAyODUzIDk5NSAyODY0IDk5OCAyODU2IDEwNjQgQyAyODQ4IDExMzQgMjc5MyAxMjkyIDI3MjkgMTQyNyBDIDI2NTkgMTU3NiAyNjQwIDE2MzQgMjY0MCAxNzAyIEMgMjY0MCAxNzcxIDI2NTUgMTgwNCAyNzEzIDE4NjggQyAyODM5IDIwMDQgMzIzMyAyMjk2IDM0NzggMjQzNCBDIDM1MjQgMjQ2MCAzNjA4IDI0OTYgMzY2NiAyNTE1IEMgMzc5OCAyNTU4IDM4NTUgMjU4OSAzOTM1IDI2NjIgQyA0MDE4IDI3MzkgNDA3NCAyODE0IDQxNzggMjk5MCBDIDQyODcgMzE3NiA0MzMxIDMyMzUgNDM4MCAzMjYwIEMgNDQxOCAzMjc5IDQ0NDcgMzI4NiA0NjU0IDMzMjUgQyA0NzUwIDMzNDMgNDg5OCAzMzg2IDQ5NzAgMzQxOCBDIDQ5OTUgMzQyOSA1MTY4IDM1MTIgNTM1NiAzNjAzIEMgNjAxOSAzOTI1IDYxNDYgMzk3MCA2Mzc3IDM5NzAgQyA2NTQ2IDM5NzAgNjkwNiA0MDIzIDczNDAgNDExMSBDIDc1ODYgNDE2MSA3ODc2IDQyMzMgNzkzNSA0MjU5IEMgNzk3MSA0Mjc1IDc5ODEgNDI3NiA3OTkwIDQyNjUgQyA4MDI1IDQyMjMgODA2MiAzODc0IDgwNjQgMzU3MCBDIDgwNjUgMzMxMiA4MDY1IDMzMTIgNzk3OSAzMDczIEMgNzkxMCAyODgyIDc4OTkgMjgzNyA3ODk4IDI3NTAgQyA3ODk3IDI2NjUgNzkxNiAyNjIzIDc5ODggMjU0NyBDIDgwNzUgMjQ1NiA4MDc1IDI0NTcgODA3NSAyMjg1IEMgODA3NSAyMTM4IDgwNzYgMjEzNCA4MTA0IDIwODMgQyA4MTIwIDIwNTUgODEzOSAyMDI5IDgxNDggMjAyNSBDIDgxNTcgMjAyMiA4MTgxIDIwMzcgODIxMCAyMDY0IEMgODMwMyAyMTUxIDg1NTkgMjI1MCA4NjkyIDIyNTAgQyA4NzQxIDIyNTAgODg2NyAyMTc3IDg5OTUgMjA3NCBDIDkxODIgMTkyNSA5MjI3IDE5MDcgOTQ2NSAxODkwIEMgOTY2MSAxODc2IDk4NzQgMTg3OCA5OTU1IDE4OTUgQyA5OTk4IDE5MDQgMTAwODQgMTkzOSAxMDE4MCAxOTg1IEMgMTAzNjkgMjA3NSAxMDQ0OCAyMDk2IDEwNjY1IDIxMDkgQyAxMDgzOCAyMTIwIDEwOTIxIDIxMzcgMTA5ODcgMjE3NiBDIDExMDMwIDIyMDEgMTEwNjAgMjI0MyAxMTA2MCAyMjc4IEMgMTEwNjAgMjMwMiAxMTEwNiAyMzQ1IDExMTUyIDIzNjQgQyAxMTE5NiAyMzgzIDExMjY0IDIzODUgMTEzMDkgMjM2OSBDIDExMzc1IDIzNDYgMTEzNzcgMjQxMSAxMTMxMiAyNDU1IEMgMTEyNTAgMjQ5OCAxMTE1NyAyNTIxIDEwOTg5IDI1MzUgQyAxMDkwMyAyNTQzIDEwODE2IDI1NTUgMTA3OTcgMjU2NCBDIDEwNzUzIDI1ODIgMTA3MjYgMjYyMSAxMDczNCAyNjU0IEMgMTA3NDggMjcxMCAxMDg2NiAyNzkxIDEwOTc0IDI4MjAgQyAxMTAwNyAyODI4IDExMDM1IDI4NDAgMTEwMzcgMjg0NiBDIDExMDM5IDI4NTIgMTEwMzIgMjg2OCAxMTAyMSAyODgxIEMgMTEwMDQgMjkwMyAxMDk5MyAyOTA1IDEwOTA4IDI5MDggQyAxMDczOCAyOTE1IDEwNTE5IDI4NTkgMTAyODMgMjc1MCBDIDEwMDY5IDI2NTIgMTAwMzYgMjY0OSAxMDAxNCAyNzI2IEMgOTk5MyAyODAwIDEwMDE5IDI4MjMgMTAxMzIgMjgzNSBDIDEwMjE3IDI4NDQgMTAyMzAgMjg1NyAxMDE5NCAyODk5IEMgMTAxNTYgMjk0NCAxMDExOSAyOTYwIDEwMDUyIDI5NjAgQyA5OTM1IDI5NjAgOTg2OCAyOTMwIDk2MjcgMjc3MSBDIDk0MzcgMjY0NiA5NDUxIDI2NDkgOTMzNyAyNzA4IEMgOTIwMSAyNzc4IDg5NzIgMjk1OSA4OTIxIDMwMzcgQyA4ODk1IDMwNzYgODg5MyAzMDg1IDg5MDEgMzExOCBDIDg5MzQgMzI0MSA4OTc0IDMzNjggOTA2NyAzNjM1IEMgOTEyNSAzODAwIDkxOTYgNDAyMCA5MjI2IDQxMjMgQyA5MzUyIDQ1NjMgOTQxNSA0OTU2IDkzODAgNTA4MCBDIDkzNjMgNTEzOSA5Mjc0IDUyNDcgOTA5MSA1NDMxIEMgODY4MSA1ODQxIDg0NDggNjAwOCA3OTAzIDYyODMgTCA3NjQwIDY0MTUgTCA3NjQwIDY3MTAgQyA3NjQwIDY4NzIgNzYzNSA3MTQ3IDc2MzAgNzMyMCBDIDc2MTYgNzc0OSA3NjAzIDc4ODIgNzU0NCA4MTUyIEMgNzUxNCA4MjkyIDc1MDMgODM3MCA3NTE0IDgzNzAgQyA3NTE2IDgzNzAgNzU1OCA4MzU4IDc2MDYgODM0NCBDIDc3MzIgODMwNyA3NzgxIDgzMTMgNzkxMiA4Mzc3IEMgODA1MyA4NDQ2IDgwNzggODQ1MyA4MTc0IDg0NDggQyA4MzA0IDg0NDEgODM4OCA4Mzk1IDg2MDAgODIxNSBDIDg3MzAgODEwNCA4ODMzIDgwMzAgODg1NiA4MDMwIEMgODg3OSA4MDMwIDg4ODIgODA5NCA4ODY1IDgyMTAgQyA4ODQyIDgzNTQgODg0NyA4MzY2IDg5MjcgODM3NSBDIDkwMTMgODM4NCA5MDMwIDgzODkgOTAzNyA4NDA1IEMgOTA1MCA4NDQxIDg5ODAgODQ4MCA4ODA1IDg1MzYgQyA4NzM5IDg1NTYgODYxMyA4NjAwIDg1MjUgODYzMyBDIDgzMDYgODcxNCA4MjczIDg3MTYgODAwMyA4NjYxIEMgNzg5MyA4NjM4IDc3OTEgODYyMCA3Nzc4IDg2MjAgQyA3NzMwIDg2MjAgNzY1MiA4NjcwIDc1NzIgODc1NSBDIDc0ODggODg0MiA3NDQ2IDg5MDkgNzQzNSA4OTc2IEMgNzQyMiA5MDU1IDczOTcgOTEyOCA3MzQ1IDkyNDAgQyA3MjYxIDk0MjMgNzI0OCA5NDgyIDcyMjAgOTg1MiBDIDcyMTQgOTkyNyA3MTk4IDEwMDU1IDcxODQgMTAxMzcgQyA3MTcwIDEwMjE4IDcxNTYgMTAzMjggNzE1MyAxMDM4MCBMIDcxNDcgMTA0NzUgTCA3MTgwIDEwNDQ1IEMgNzIxOCAxMDQwOSA3MzE0IDEwMjg2IDczOTUgMTAxNzAgQyA3NTIwIDk5OTAgNzY1OCA5ODEyIDc3MzUgOTczMSBDIDc4MDEgOTY2MSA3ODI5IDk2NDAgNzg5NSA5NjA5IEMgODEwNyA5NTA5IDgyNjUgOTQ4MSA4MzQzIDk1MjkgQyA4NDE1IDk1NzMgODU0NSA5NzUzIDg1NTcgOTgyMyBDIDg1NjEgOTg1MiA4NTU5IDk4NTggODU0MCA5ODYzIEMgODUxOSA5ODY4IDg1MTggOTg3MyA4NTI0IDk5MjQgQyA4NTMwIDk5NzcgODUyOSA5OTgwIDg1MDggOTk4MCBDIDg0OTUgOTk4MCA4NDY4IDk5NzUgODQ0NyA5OTY5IEMgODQyNSA5OTYzIDg0MDYgOTk2MSA4NDAzIDk5NjMgQyA4NDAxIDk5NjYgODQxNSA5OTg5IDg0MzQgMTAwMTQgQyA4NDc0IDEwMDY2IDg0ODUgMTAxMTEgODQ3NiAxMDE3NiBDIDg0NjIgMTAyNzggODM3OCAxMDM3NiA4MjU1IDEwNDM1IEMgODE2MiAxMDQ3OSA4MTQ0IDEwNTAyIDgxNjAgMTA1NjAgTCA4MTcxIDEwNjAxIEwgODEwMSAxMDY2NiBDIDc5OTQgMTA3NjUgNzk1MyAxMDg2NyA4MDAwIDEwOTE4IEMgODAyNyAxMDk0NiA4MDgzIDEwOTQ3IDgxMjggMTA5MjAgQyA4MTYxIDEwOTAwIDgxNjMgMTA4OTQgODE2MCAxMDg0OCBDIDgxNTkgMTA4MjYgODE2MyAxMDgyMCA4MTc5IDEwODIwIEMgODIxMiAxMDgyMCA4MjMyIDEwNzkyIDgyMjQgMTA3NTYgQyA4MjExIDEwNjk4IDgyMTIgMTA2OTUgODI0OCAxMDY5OCBDIDgyNzcgMTA3MDEgODI4MiAxMDY5OCA4MjkyIDEwNjcwIEMgODMwMiAxMDYzOSA4MzA0IDEwNjM4IDgzNTkgMTA2NDIgQyA4NDE5IDEwNjQ1IDg0MjAgMTA2NDQgODQwNSAxMDU4OCBDIDgzOTUgMTA1NDkgODQyMyAxMDU0MSA4NTUxIDEwNTQ3IEMgODY4MCAxMDU1NCA4Njg2IDEwNTUwIDg2NjQgMTA0NjYgQyA4NjU2IDEwNDM0IDg2NTAgMTA0MDQgODY1MiAxMDM5OSBDIDg2NTQgMTAzOTQgODY3OSAxMDQwOCA4NzA5IDEwNDMwIEMgODc5NiAxMDQ5NSA4ODQ5IDEwNDk2IDg4MTUgMTA0MzAgQyA4ODA2IDEwNDEzIDg4MDEgMTAzOTYgODgwNCAxMDM5MyBDIDg4MDcgMTAzOTAgODgzMCAxMDM5MyA4ODU2IDEwMzk5IEMgODkxNSAxMDQxNCA4OTI1IDEwNDA1IDg5MDkgMTAzNTEgQyA4OTAyIDEwMzI4IDg4OTkgMTAzMDcgODkwMiAxMDMwNCBDIDg5MDYgMTAzMDEgODk0MCAxMDMxMiA4OTc4IDEwMzI5IEMgOTA2MCAxMDM2NSA5MDg1IDEwMzY3IDkxMDAgMTAzNDAgQyA5MTE0IDEwMzEzIDkxNTEgMTAzMTUgOTIyMyAxMDM0NCBDIDkzODIgMTA0MTAgOTUyOSAxMDU0MSA5NTk4IDEwNjc4IEMgOTY3MCAxMDgyMiA5NjY0IDEwODg3IDk1NjQgMTEwODAgQyA5NDgxIDExMjQwIDkzNjkgMTEzODEgOTEzOSAxMTYxNyBDIDg5MjEgMTE4NDAgODgwMyAxMTk4NiA4NzMzIDEyMTE4IEMgODY3OSAxMjIxOCA4NjIzIDEyMjgyIDg1NjIgMTIzMTIgQyA4NTIzIDEyMzMxIDg0OTggMTIzMzUgODQyMCAxMjMzNiBDIDgzNjggMTIzMzYgODMxNSAxMjM0MCA4MzAzIDEyMzQ0IEMgODI5MCAxMjM0OCA4MjMwIDEyMzkxIDgxNjkgMTI0NDAgQyA4MDM2IDEyNTQ1IDc5NjMgMTI1ODYgNzg3MyAxMjYwNSBDIDc3ODQgMTI2MjQgNzcxMCAxMjY1MCA3NTkxIDEyNzA0IEMgNzQ3NCAxMjc1NyA3Mzk5IDEyNzc2IDcyNTUgMTI3OTAgQyA3MTUzIDEyNzk5IDY5MDAgMTI4MDEgNjgyMCAxMjc5MyBaIi8+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pattern {
  background-image: url("/static/images/patterndino.svg");
  background-repeat: repeat;
  background-size: 500px;
  background-position: center;
}
h1 {
  text-align: center;
  padding: 10px;
  font-size: 70px;
  font-family: "jurassik";
  font-weight: 300;
  letter-spacing: 7px;
  line-height: 0.75;
  margin: auto 0;
}

.dinoname {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-family: "roboto";
  font-weight: 300;
  letter-spacing: 5px;
  color: hsl(0, 0%, 100%);
}

.argent {
  text-align: center;
  font-size: 44px;
  font-family: "roboto";
  font-weight: 500;
  letter-spacing: 3px;
  color: hsl(0, 0%, 100%);
  background-image: ;
}

.clear {
  clear: both;
}

/* CSS */
.button-paris {
  width: 100%;
  height: 100%;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-paris:hover {
  background-color: #fff;
}

.button-paris:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-paris {
    min-width: 120px;
    padding: 0 25px;
  }
}

.table-wrapper {
  width: 100%;
  color: #0f0e0e;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

.menuim {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.photos {
  width: 40%;
  height: 40%;
  margin: 20px 20px;
}

.p7 {
  text-align: center;
  font-size: 25px;
  font-family: "african";
  font-weight: 300;
  line-height: 0.75;
}

.liens {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}

.liens > div {
  width: 33%;
}

dd {
  margin-bottom: 1em;
}

.remerciements {
  margin-top: 1em;
}

.button-createurs {
  margin-top: 0.5em;
}

.boutons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
