{% extends "base.html" %}
{% block main %}
  
<h1 >ENIGMES</h1>
 <div class="paragraph">
  <p >
    <br>
    <br>
        Vous pouvez répondre à toutes les énigmes.
        <br><br>
  </p>
</div>

<form class="w-full max-w-sm flex flex-col justify-center items-center" action="/enigme/1" > {% csrf_token %}
<div class="md:flex md:items-center">
    <a class="shadow bg-[#72A603] hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit" href="/enigme/1">Jour 1</a>
</div>
</form>

<br>
<form class="w-full max-w-sm flex flex-col justify-center items-center" action="/enigme/2" > {% csrf_token %}
<div class="md:flex md:items-center">
    <a class="shadow bg-[#72A603] hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit" href="/enigme/2">Jour 2</a>
</div>
</form>

<br>
<form class="w-full max-w-sm flex flex-col justify-center items-center" action="/enigme/3" > {% csrf_token %}
<div class="md:flex md:items-center">
    <a class="shadow bg-[#72A603] hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit" href="/enigme/3">Jour 3</a>
</div>
</form>
<br>
<form class="w-full max-w-sm flex flex-col justify-center items-center" action="/enigme/4" > {% csrf_token %}
    <div class="md:flex md:items-center">
        <a class="shadow bg-[#72A603] hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit" href="/enigme/4">Jour 4</a>
    </div>
</form>
<br>
<form class="w-full max-w-sm flex flex-col justify-center items-center" action="/enigme/5" > {% csrf_token %}
    <div class="md:flex md:items-center">
        <a class="shadow bg-[#72A603] hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit" href="/enigme/5">Jour 5</a>
    </div>
</form>
<br>
<form class="w-full max-w-sm flex flex-col justify-center items-center" action="/enigme/6" > {% csrf_token %}
    <div class="md:flex md:items-center">
        <a class="shadow bg-[#72A603] hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit" href="/enigme/6">Jour 6</a>
    </div>
</form>
</div>
</div>
{% endblock %}