<!DOCTYPE html>
<html>
  <head>
    <link href="/static/css/juraspark.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75" />
    <title>My Website</title>
  </head>
  <body>
    <!-- centered div in div  -->

    <div
      class="a max-w-[1227px] min-w-[407px] h-[1789px] mx-auto bg-[url('/static/images/fond.png')] bg-cover bg-center bg-no-repeat flex justify-center items-center"
    >
      <div class="max-w-[407px] h-[1789px] flex flex-col items-center">
        <div class="max-w-[407px] h-[150px]">
          <div class="menu flex">
            <div>
              <a href="#">Jurasikpark</a>
            </div>
            <a href="shop.html">Magasin</a>
            <a href="myprofil.html">Mon Profil</a>
          </div>
        </div>

        <div class="w-[407px] text-center flex text-lg flex-col">
          <h1>INFO DU JOUR</h1>
          <div class="paragraph">
            <p>
              <br />
              <span>
                Enim exercitation aute reprehenderit tempor amet adipisicing
                dolore mollit aute. Anim cillum minim adipisicing est pariatur
                nostrud voluptate officia tempor occaecat Lorem fugiat. Pariatur
                ipsum do anim non sit pariatur sunt tempor quis occaecat
                voluptate nostrud cupidatat consequat. Mollit laboris amet
                reprehenderit mollit aliqua anim nulla sint eiusmod consequat
                aute incididunt aliquip. Laborum pariatur sint voluptate ut
                tempor enim irure proident adipisicing velit officia voluptate
                veniam. <br /><br />Qui reprehenderit cupidatat proident
                consectetur anim tempor.</span
              >
            </p>
          </div>

          <div class="divider"></div>

          <h1>JURASIKPARK</h1>
          <div class="paragraph">
            <p>
              <br />
              <span>
                Enim exercitation aute reprehenderit tempor amet adipisicing
                dolore mollit aute.
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
