{% extends "base.html" %}
{% block main %}
{% load static %}
        <h1>Ton code de <span class="p7">{{prix| safe}}</span> os est à toi, merci à toi ! ROOOOOARARR</h1>
        

<!-- 
<form action="/registerbet">
  <div class="md:flex md:items-center mb-6 ">
    <input name = "bet" placeholder= "Mise" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500 text-center" id="inline-full-name" type="number">
</div>
<div class="flex justify-center"></div>
  <input type="submit" value="Rouge" class="button-paris align-left" role="button" name="Rouge"> 
  <input type="submit" value="Bleu" class="button-paris" role="button" name="Bleu">
</form>-->
</div> 

<br>

<form class="w-full max-w-sm flex flex-col justify-center items-center">

 
  <div class="md:flex md:items-center">

  </div>
</form>

<br>
{% endblock %}