{% extends "base.html" %}
{% block main %}
{% load static %}
  <br><br>
  <h1>Remerciements</h1>
 <div class="paragraph flex flex-col">
  <p >
        Un grand merci à : <br>
      </p>
      <ul>
          <li><a href = "https://www.facebook.com/robin.augereauNwt/">- Robin Augereau pour le back-end</a></li>
            <li><a href = "https://www.facebook.com/gauthier.rancoule">- Gauthier Rancoule pour le design</a></li>
              <li><a href="https://www.facebook.com/jaubry72">- Jules Aubry pour le shop</a></li>
                <li><a href = "https://www.facebook.com/maxence.falempin.94">- Maxence Falempin pour son soutien et son aide pour la gestion du shop</a></li>
                <li><a href = "https://www.facebook.com/profile.php?id=100085155067171">- Ewen Le Bihan pour la correction de la mise en page et du CSS</a></li>
      </ul>
  </p>
</div>
<br>

<div class="paragraph">
  <p >
      <span> 
        Merci à toute la liste et au bureau pour son implication.</span> <br><br>
        Sans oublier net7 qui ont permis de host ce site, pour ensuite le pentester ;)
  </p>
</div>

<br><br>
</div>
</div>
{% endblock %}