{% extends "base.html" %}
{% block main %}
{% load static %}
    <h1>Voulez vous vraiment acheter {{objet| safe}} pour <span class="p7">{{prix| safe}}</span> points ?</h1> <br>
    <h2>Il en reste : {{stock |safe}}</h2> <br>
    <img src="{{url| safe}}" alt="Objet" width="200" height="200"> <br>
    <form action="/validatedbuying/{{id|safe}}" method="post">  {% csrf_token %}
        <div class="flex justify-center">
        <input class="button-paris align-left" type="submit" value="Oui">
    </form>
    <a class="button-paris" href="/shop/0">Non</a>
  </div>

</div> 

<br>

<form class="w-full max-w-sm flex flex-col justify-center items-center">

 
  <div class="md:flex md:items-center">

  </div>
</form>

<br>
{% endblock %}